name: NPM Publish
on:
  workflow_dispatch:
    publish:
      description: 'Publish packages to npm'
      required: true
      default: true

jobs:
  publish:
    env:
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        if: github.events.input.name == 'true'
        uses: actions/checkout@v2
      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: '12.x'
      - name: install
        run: npm install
      - name: Publish To NPM
        run: npm run publish:all
